<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :entree %><br />
    <%= f.text_field :entree %>
  </div>
  <div class="field">
    <%= f.label :main_course %><br />
    <%= f.text_field :main_course %>
  </div>
  <div class="field">
    <%= f.label :side_dish %><br />
    <%= f.text_field :side_dish %>
  </div>
  <div class="field">
    <%= f.label :dessert %><br />
    <%= f.text_field :dessert %>
  </div>
  <div class="field">
    <%= f.label :drink %><br />
    <%= f.text_field :drink %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
