<h1>Menu Items</h1>

<table>
  <tr>

    <th>Entree</th>
    <th>Main Course</th>
    <th>Side Dish</th>
    <th>Dessert</th>
    <th>Drink</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menus.each do |menu| %>
  <tr>

    <td><%= menu.entree %></td>
    <td><%= menu.main_course %></td>
    <td><%= menu.side_dish %></td>
    <td><%= menu.dessert %></td>
    <td><%= menu.drink %></td>
    <td><%= menu.price %></td>
    <td><%= link_to 'Show', menu %></td>
    <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
    <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu', new_menu_path %>
