<p id="notice"><%= notice %></p>



<p>
  <b>Entree:</b>
  <%= @menu.entree %>
</p>

<p>
  <b>Main course:</b>
  <%= @menu.main_course %>
</p>

<p>
  <b>Side dish:</b>
  <%= @menu.side_dish %>
</p>

<p>
  <b>Dessert:</b>
  <%= @menu.dessert %>
</p>

<p>
  <b>Drink:</b>
  <%= @menu.drink %>
</p>

<p>
  <b>Price:</b>
  <%= @menu.price %>
</p>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
