<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :ticket_number %><br />
    <%= f.number_field :ticket_number %>
  </div>
  <div class="field">
    <%= f.label :ticket_complete %><br />
    <%= f.check_box :ticket_complete %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
