<h1>Tickets</h1>

<table>
  <tr>

    <th>Ticket Number</th>
    <th>Ticket Completed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>

    <td><%= ticket.ticket_number %></td>
    <td><%= ticket.ticket_complete %></td>

    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
