<p id="notice"><%= notice %></p>



<p>
  <b>Ticket number:</b>
  <%= @ticket.ticket_number %>
</p>

<p>
  <b>Ticket complete:</b>
  <%= @ticket.ticket_complete %>
</p>



<table>
  <tr>
    <th>Menu</th>
    <th></th>
    <th>Price</th>

  </tr>


  <% @ticket.menus.each do |menu| %>

          <tr>
            <td><%= Ticket.find(menu.menu_id).name %></td>
            <td></td>
            <td><%= menu.price %></td>
            <td></td>

          </tr>

      <% end %>
  </table>






<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
