<%= form_for(@taxis) do |f| %>
  <% if @taxis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taxis.errors.count, "error") %> prohibited this taxis from being saved:</h2>

      <ul>
      <% @taxis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tax_rate %><br />
    <%= f.text_field :tax_rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
