<%= form_for(@order_line) do |f| %>
  <% if @order_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_line.errors.count, "error") %> prohibited this order_line from being saved:</h2>

      <ul>
      <% @order_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :menu_id %><br />
    <%= f.number_field :menu_id %>
  </div>
  <div class="field">
    <%= f.label :ticket_id %><br />
    <%= f.number_field :ticket_id %>
  </div>
  <div class="field">
    <%= f.label :orderline %><br />
    <%= f.number_field :orderline %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
