<h1>Listing order_lines</h1>

<table>
  <tr>
    <th>Menu</th>
    <th>Ticket</th>
    <th>Orderline</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_lines.each do |order_line| %>
  <tr>
    <td><%= order_line.menu_id %></td>
    <td><%= order_line.ticket_id %></td>
    <td><%= order_line.orderline %></td>
    <td><%= link_to 'Show', order_line %></td>
    <td><%= link_to 'Edit', edit_order_line_path(order_line) %></td>
    <td><%= link_to 'Destroy', order_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order line', new_order_line_path %>
