<p id="notice"><%= notice %></p>

<p>
  <b>Menu:</b>
  <%= @order_line.menu_id %>
</p>

<p>
  <b>Ticket:</b>
  <%= @order_line.ticket_id %>
</p>

<p>
  <b>Orderline:</b>
  <%= @order_line.orderline %>
</p>


<%= link_to 'Edit', edit_order_line_path(@order_line) %> |
<%= link_to 'Back', order_lines_path %>
